<div class="min-h-screen flex items-center justify-center bg-black">
  <div class="bg-white p-8 rounded-xl shadow-md w-full max-w-md text-black">
    <h2 class="text-4xl font-bold mb-6 text-center">
      ユーザー編集
    </h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :name, "ユーザー名", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :name, autocomplete: "name", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 bg-white text-black" %>
      </div>

      <div class="mb-4">
        <%= f.label :email, "メールアドレス", class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 bg-white text-black" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="mb-4 text-sm text-yellow-600">
          現在、以下のメールアドレスの確認待ちです：<%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="mb-4">
        <%= f.label :password, "新しいパスワード", class: "block text-sm font-medium text-gray-700" %>
        <i class="text-sm text-gray-500">(変更しない場合は空欄のままにしてください)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 bg-white text-black" %>
        <% if @minimum_password_length %>
          <em class="text-xs text-gray-500">※最低 <%= @minimum_password_length %> 文字</em>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, "パスワード（確認）", class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 bg-white text-black" %>
      </div>



      <div class="mb-4">
        <%= f.submit "更新", class: "w-full bg-orange-400 text-black py-2 rounded-md hover:bg-orange-500" %>
      </div>
    <% end %>

    <div class="mt-2 text-center">
      ご利用にご満足いただけませんか？<br />
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete, class: "text-sm text-red-500 hover:underline" %>
    </div>

    <div class="mt-4 text-center">
      <%= link_to "戻る", :back, class: "text-sm text-blue-500 hover:underline" %>
    </div>
  </div>
</div>
