<body class="bg-black text-white">
<div class="flex flex-col items-center min-h-screen bg-black"> 
<h1 class= "text-5xl">ランキング</h1>

<% @ranked_movies.each.with_index(1) do |movie, i| %>
  <div class = "p-6">
  <% if i == 1 %> 
  <tr>
    <td><%= image_tag("first.jpg") %></td>
  </tr>
  <% elsif i == 2 %>
  <tr>
    <td><%= image_tag("second.jpg") %></td>
  </tr>
  <% elsif i == 3 %>
  <tr>
    <td><%= image_tag("third.jpg") %></td>
  </tr>
  <% else %> 
  <tr>
    <td><%= i %>位</td>
  </tr>
  <% end %>

    <h1>観た人数: <%= movie.watched_count %></h1>
    <%= link_to movie_path(movie) do %>
      <%= image_tag movie.avatar.url, class: "w-full h-96 object-contain" %>
    <% end %>
  <% end %>
</div>
</body>
