<div class="flex">
  <!-- サイドバー -->
  <div class="w-1/5 bg-black min-h-screen"></div>


  <div class="w-4/5 flex flex-col min-h-screen bg-black text-white p-4">

    <div class="w-full flex flex-col items-center mb-8">
      <h1 class="text-5xl mt-4 p-4 mr-[110px]">作品一覧</h1>
      <%= search_form_for @q, url: movies_path, method: :get do |f| %>
        <div class="flex items-center gap-2 mr-[100px]">
          <%= f.search_field :title_cont, placeholder: " 映画タイトルで検索", class: "text-black bg-white mt-1 block w-70 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500" %>
          <%= f.submit '検索', class: "rounded-lg bg-orange-400 w-12 h-10 text-black hover:bg-orange-500"%>
        </div>
      <% end %>
    </div>

    <!-- 映画カードリスト-->
    <div class="container mx-auto flex">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-full">
        <% @movies.each do |movie| %>
          <div class="bg-white shadow-lg rounded-lg overflow-hidden p-4 h-88 w-64 flex flex-col items-center">
            <% if movie.avatar.present? %>
              <%= link_to movie_path(movie), class: "block w-full h-full flex justify-center items-center bg-black" do %>
                <%= image_tag movie.avatar.url, class: "max-w-full max-h-full object-contain" %>
              <% end %>
            <% end %>
            <div class="p-2 text-center w-full">
              <h3 class="text-lg font-bold text-black"><%= movie.title %></h3>
              <h3 class="text-lg font-bold text-black"><%= "びっくり度#{movie.surprise_level}" %></h3>
              <h3 class="text-lg font-bold text-black"><%= "グロさ度#{movie.gore_level}" %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <%= paginate @movies %>

  </div>
</div>

