<div class="flex flex-col items-center min-h-screen bg-black text-white"> <!-- min-h-screenに変更 -->
  <h1 class="text-5xl mt-4">作品一覧</h1> <!-- 上部に配置 -->

  <%= search_form_for @q, url: movies_path, method: :get do |f| %>
    <%= f.search_field :title_cont, placeholder: "映画タイトルで検索", class: "rounded-mg form-control text-black bg-white" %>
    <%= f.submit '検索', class: "rounded-lg bg-orange-400 w-10 h-10 text-black"%>
  <% end %>

  <div class="flex flex-wrap cjustify-center w-full p-4"> <!-- 画像を中央に配置 -->
    <ul class="list-none p-0 flex flex-wrap justify-center"> <!-- 中央揃えにする -->
      <% @movies.each do |movie| %>
        <li class="mr-2 mb-2 w-1/2 md:w-1/3">
          <% if movie.avatar.present? %>
            <%= link_to movie_path(movie) do %> <!-- 画像をリンクにして詳細画面へ遷移する -->
              <%= image_tag movie.avatar.url,
                            class: "w-full h-100 object-contain" %> <!-- 画像を大きくする -->
            <% end %>
          <% end %>
        </li>
      <% end %>
      <div class="flex justify-center my-4 fixed bottom-0 left-0 right-0 bg-gray-700 text-white shadow-lg">
        <%= paginate @movies, 
        previous_label: '<span class="px-4 py-2 bg-blue-500 text-white rounded-lg">前へ</span>', 
        next_label: '<span class="px-4 py-2 bg-blue-500 text-white rounded-lg">次へ</span>',
        class: 'flex space-x-2' %>
      </div>
    </ul>
  </div>
</div>