<body class= "bg-black">
<div class="h-screen w-screen bg-black text-white">
  <div class="w-1/4">
    <!-- サイドバーの内容 -->
  </div>

  <div class="flex-1 flex flex-col items-center justify-center text-center text-white p-3">
    <div class="movie-image">
      <%= image_tag @movie.avatar.url, class: 'w-96 h-96 object-contain' if @movie.avatar? %>
    </div>

    <h1 class="movie-title text-2xl font-bold mt-4 p-3"><%= @movie.title %></h1>

    <div class="flex items-center">
      <div class="text-center">
        <p class="line-clamp-10 max-w-xl">
          <%= @movie.description %>
        </p>
      </div>
    </div>
  </div>

  <div class="bg-black flex items-center justify-center p-4">
    <%= render 'bookmark_buttons', movie: @movie %>
    <p class = "text-white mx-10">観た人数: <%= Watched.where(movie_id: @movie.id).count %></p>
    <%= render 'watched_buttan', movie: @movie %>
  
    <a href="https://twitter.com/intent/tweet?text=こみてらっ！&url=https://xn--28jvb3dvb.com" target="_blank">
      <%= image_tag 'Xshere.jpg', style: "width: 50px; height: auto;" %>
    </a>
  </div>
  <h1>レビュー一覧</h1>
  <%= render 'reviews/review' %> <!-- 投稿されたレビューを表示 -->
  <%= render 'reviews/form', review: @review, movie: @movie %>

  <%= display_meta_tags(default_meta_tags) %>
  
</div>
</body>