<div class="h-screen w-screen bg-gray-700">
  <div class="w-1/4">
    <!-- サイドバーの内容 -->
  </div>

  <div class="flex-1 flex flex-col items-center justify-center text-center text-white">
    <div class="movie-image">
      <%= image_tag @movie.avatar.url, class: 'w-64 h-64 object-contain' if @movie.avatar? %>
    </div>

    <h1 class="movie-title text-2xl font-bold mt-4"><%= @movie.title %></h1>

    <div class="flex items-center">
      <div class="text-center">
        <p class="line-clamp-4 max-w-xl">
          <%= @movie.description %>
        </p>
      </div>
    </div>
  </div>
  <div class="text-right bg-orange-400">
    <%= button_tag '観たよ！', type: 'button', class: 'btn btn-primary' %>
    <%= render 'bookmark_buttons', movie: @movie %>
  </div>
  <%= render @reviews %> <!-- 投稿されたレビューを表示 -->
  <%= render 'reviews/form', review: @review, movie: @movie %>

</div>