<div class="fixed top-0 left-0 h-full w-1/4 bg-black text-black">
  <ul class="list-none font-bold">
    <!-- サイドバー項目 -->
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-gray-400 px-2 py-1 text-white">検索</div>
    </li>
    <li class="px-6 py-3 border-gray-300 hover:bg-gray-100">
    <%= link_to "作品一覧", movies_path, class: "inline-block bg-orange-500 px-2 py-1 text-black" %>
  </li>  
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-orange-500 px-2 py-1">ランキング</div>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-orange-500 px-2 py-1">あなたへおすすめ！</div>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-orange-500 px-2 py-1">観たい！一覧</div>
    </li>

    <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
      <li class="px-6 py-3 border-gray-300 hover:bg-gray-100">
        <%= link_to "ユーザー詳細画面",new_user_session_path , class: "inline-block bg-orange-500 px-2 py-1 text-black" %>
      </li>

      <li class="px-6 py-3 border-gray-300 hover:bg-gray-100">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "inline-block bg-orange-500 px-2 py-1 text-black" %>

      </li>

    <% else %>
      <li class="px-6 py-3 border-gray-300 hover:bg-gray-100">
        <%= link_to "新規登録",new_user_session_path , class: "inline-block bg-orange-500 px-2 py-1 text-black" %>
      </li>

      <li class="px-6 py-3 border-gray-300 hover:bg-gray-100">
        <%= link_to "ログイン",user_session_path , class: "inline-block bg-orange-500 px-2 py-1 text-black" %>
      </li>
    <% end %>
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-gray-400 px-2 py-1 text-white">お問い合わせ</div>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-gray-400 px-2 py-1 text-white">プライバシーポリシ</div>
    </li>
  </ul>
</div>
