<div class="relative">

  <button id="menuButton" class="bg-orange-500 text-black px-4 py-2 rounded-md shadow-md hover:bg-orange-600 lg:hidden">
    メニュー ▼
  </button>

  <!-- ドロップダウンメニュー -->
  <ul id="dropdownMenu" class="absolute left-0 mt-2 w-48 bg-orange-500 text-white rounded-md shadow-lg hidden lg:block">

    <li class="px-4 py-2 hover:bg-gray-100">
      <%= link_to "映画一覧" , movies_path, class: "block text-gray-800" %>
    </li>


    <li class="px-4 py-2 hover:bg-gray-100">
      <%= link_to "ランキング" , ranking_watcheds_path, class: "block text-gray-800" %>
    </li>

    <li class="px-4 py-2 hover:bg-gray-100">
      <%= link_to "あなたへおすすめ", recommends_path, class: "block text-gray-800" %>
    </li>
    <li class="px-4 py-2 hover:bg-gray-100">
      <%= link_to "観たい！一覧", bookmarks_path, class: "block text-gray-800" %>
    </li>

    <% if user_signed_in? %>
      <li class="px-4 py-2 hover:bg-gray-100">
        <%= link_to 'My Page', user_path(current_user), class: "block text-gray-800" %>
      </li>
      <li class="px-4 py-2 hover:bg-gray-100">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "block text-gray-800" %>
      </li>
    <% else %>
      <li class="px-4 py-2 hover:bg-gray-100">
        <%= link_to "Log in", user_session_path, class: "block text-gray-800" %>
      </li>
    <% end %>

    <li class="px-4 py-3 hover:bg-gray-100">
        <%= link_to "お問合せ", "https://forms.gle/zsRgRHCv9Box48jT6", class: "block text-gray-800" %>
      </li>

    <li class="px-4 py-2 hover:bg-gray-100">
      <%= link_to "プライバシーポリシー", "https://www.kiyac.app/privacypolicy/iKJlBH2wuM9NGRhYexTb", class: "block text-gray-800" %>
    </li>
  </ul>

  <!-- サイドバーコンテンツ (画面サイズが1024px以上の時) -->
  <div class="hidden lg:block fixed top-0 left-0 h-full w-1/7 bg-black text-black">

    <ul class="list-none font-bold">
    <li class="rounded-lg px-4 py-2 flex items-center">
      <%= link_to movies_path, class: "hover:bg-orange-500 rounded-lg block text-black flex items-center w-56 h-15 bg-orange-400 px-2 py-1" do %>
        <%= image_tag 'film.jpg', style: "width: 50px; height: auto; margin-right: 10px;" %>
        作品一覧
      <% end %>
    </li>

    <li class="rounded-lg px-4 py-2 flex items-center ">
      <%= link_to ranking_watcheds_path, class: "hover:bg-orange-500 rounded-lg block text-black flex items-center w-56 h-15 bg-orange-400 px-2 py-1" do %>
        <%= image_tag 'ranking.jpg', style: "width: 50px; height: auto; margin-right: 10px;" %>
        ランキング
      <% end %>
    </li>

    <li class="rounded-lg px-4 py-2 flex items-center ">
      <%= link_to recommends_path, class: "hover:bg-orange-500 rounded-lg block text-black flex items-center w-56 h-15 bg-orange-400 px-2 py-1" do %>
        <%= image_tag 'recomend.jpg', style: "width: 50px; height: auto; margin-right: 10px;" %>
        あなたへオススメ
      <% end %>
    </li>

    <li class="rounded-lg px-4 py-2 flex items-center ">
      <%= link_to bookmarks_path, class: "hover:bg-orange-500 rounded-lg block text-black flex items-center w-56 h-15 bg-orange-400 px-2 py-1" do %>
        <%= image_tag 'bookmark.jpg', style: "width: 50px; height: auto; margin-right: 10px;" %>
        観たい！一覧
      <% end %>
    </li>

    <% if user_signed_in? %>
      <li class="rounded-lg px-4 py-2 flex items-center ">
        <%= link_to  user_path(current_user), class: "hover:bg-orange-500 rounded-lg block text-black flex items-center w-56 h-15 bg-orange-400 px-2 py-1" do %>
          <%= image_tag 'user.jpg', style: "width: 50px; height: auto; margin-right: 10px;" %>
          マイページ
        <% end %>
      </li>
      <li class="rounded-lg px-6 py-3 border-gray-300">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "hover:bg-orange-500 rounded-lg block text-black flex items-center w-48 h-15 bg-orange-400 px-2 py-1" %>
      </li>
    <% else %>
      <li class="rounded-lg px-4 py-2 flex items-center ">
          <%= link_to   user_session_path, class: "hover:bg-orange-500 rounded-lg block text-black flex items-center w-56 h-15 bg-orange-400 px-2 py-1" do %>
            <%= image_tag 'user.jpg', style: "width: 50px; height: auto; margin-right: 10px;" %>
            ログイン
          <% end %>
      </li>
    <% end %>

      <li class="rounded-lg px-6 py-3">
        <%= link_to "お問合せ", "https://forms.gle/zsRgRHCv9Box48jT6", class: "hover:bg-gray-500 rounded-lg block text-black flex items-center w-48 h-15 bg-gray-400 px-2 py-1" %>
      </li>
      <li class="rounded-lg px-6 py-3">
        <%= link_to "プライバシーポリシー", "https://www.kiyac.app/privacypolicy/iKJlBH2wuM9NGRhYexTb", class: "hover:bg-gray-500 rounded-lg block text-black flex items-center w-48 h-15 bg-gray-400 px-2 py-1" %>
      </li>
    </ul>
  </div>
</div>