<!DOCTYPE html>
<html>
  <head>
  <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  <meta charset="UTF-8"> 
    <title>こみてらっ！</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('komitera.jpg') %>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="こみてらっ！">
    <meta name="twitter:description" content="怖くないB級ホラー映画紹介してます。#ホラー映画">
    <meta name="twitter:description" content="おバカ映画が盛り沢山だよ!"
    <meta name="twitter:image" content="<%= image_url('komitera2.jpg') %>">
    <meta name="twitter:url" content="<%= request.original_url %>">
  </head>

  <body>
    <%= render 'shared/sidebar' %>
    <%= yield %>
  </body>
</html>
