<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8"> <!-- 文字エンコーディングを指定 -->
    <title>こみてらっ！</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
    <%= render 'shared/sidebar' %>
    <%= yield %>
  </body>
</html>
