<!DOCTYPE html>
<html>
  <head>
  <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  <meta charset="UTF-8"> 
    <title>こみてらっ！</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= display_meta_tags(
  title: "こみてらっ！", 
  description: "怖くないB級ホラー映画紹介アプリです", 
  og: {
    title: "こみてらっ！",
    description: "怖くないB級ホラー映画紹介アプリです",
    image: "https://horror-comedy.onrender.com/path/to/komitera2.jpg",  # 画像のURLは絶対パスを使用
    url: request.original_url,  # 現在のページのURLを取得
    type: "website"  # ページのタイプを指定
  }
) %>


  </head>

  <body>
    <%= render 'shared/sidebar' %>
    <%= yield %>
  </body>
</html>
